body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    background-color: #eee;
}

hr {
    margin: 0px;
}

p {
    font-size: 16pt;
}

table {
    text-align: center;
}

.aboutimgtd {
    width: 330px;
}

.aboutus {
    min-height: 200px;
    margin: 5px;
    margin-bottom: 10px;
    border: 1px solid green;
}

.aboutus img {
    border: 3px solid #dddddd;
    vertical-align: middle;
    width: 300px;
    height: 200px;
}

.aboutus p {
    text-align: left;
}

.aboutus td {
    width: auto;
}

.content {
    text-align: center;
    border: 1px solid green;
    margin-left: 330px;
    margin-top: 130px;
    min-width: 600px;
    width: 100%;
    position: absolute;
}

.content h1 {
    height: 10%;
    font-size: 14pt;
    margin: 0 0 0 0;
    display: inline-block;
}

.content img {
    height: 70%;
}

.content p {
    height: 20%;
    font-size: 11pt;
    margin: 0 0 0 0;
    display: inline-block;
}

.content table {
    width: 100%;
}

.content td {
    width: 33%;
}

.content tr {
    height: 250px;
}

.imgstyle {
    vertical-align: top;
    border: 4px solid #aaa;
    width: 225px;
    height: 225px;
}

.login {
    padding-top: 200px;
    font-size: 20px;
}

.loginelements {
    margin: 10px;
}

.logo {
    height: 120px;
    width: 320px;
}

.menubutton {
    display: inline-block;
    color: #eee;
    font-size: 20pt;
    font-weight: bold;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #333;
    cursor: pointer;
}

.menudiv:hover {
    background-color: #31B404
}

.menuitem:active {
}

.menuitem:hover {
    background-color: #f00;
}

.opendays {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    font-weight: bold;

}


.sidebar {
    text-align: left;
    background-color: #2b812b;
    background-repeat: repeat-y;
    text-shadow: 1px 1px 5px #BBB;
    width: 320px;
    top: 0px;
    bottom: 0px;
    /* border: 1px solid red;*/
    float: left;
    position: fixed;
    min-height: 600px;
    /*overflow: scroll;*/
}

.specialoffer {
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.specialoffer hr {
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    border: #31B404;
    color: #31B404;
    background-color: #31B404;
}

.specialoffer img {
    border: 3px solid #dddddd;
    width: 700px;
    height: 450px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.specialoffer p {
    width: 700px;
}

.topbar {
    height: 120px;
    margin-left: 320px;
    background-color: #ddd;
    position: fixed;
    width: 100%;
}

.topbar h1 {
    margin-left: 50px;
}

.workinghours {
    float: left;
    font-size: 15px;
    text-align: left;
    width: 100%;
    text-shadow: 1px 1px 5px #BBB;
    padding-left: 20px;
    padding-right: 20px;
}

.workinghours caption {
    font-size: 16pt;
    font-weight: bold;
    caption-side: top;
    color: #000000;
    font-variant: small-caps;
    text-align: center;
    width: 100%;
}

.workinghours td {
    border-bottom: #0B610B dotted thin;
}

.workinghours th {
    color: #222;
    font-variant: small-caps;
    text-align: left;
}

.workinghours tr{
    border-bottom: 10px dotted white;
}

.wrapper {
    margin: auto;
}
