body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    background-color: #eee;
}

hr {
    margin: 0px;
}

p {
    font-size: 16pt;
}

td {
    border-bottom: #0B610B dotted thin;
}

table {
    text-align: center;
}

.workinghours th {
    color: #222;
    font-variant: small-caps;
    text-align: left;
}

.wrapper {
    margin: auto;
}

.workinghours {
    float: left;
    font-size: 15px;
    text-align: left;
    width: 100%;
    text-shadow: 1px 1px 5px #BBB;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebar {
    text-align: left;
    background-color: #2b812b;
    background-repeat: repeat-y;
    text-shadow: 1px 1px 5px #BBB;
    width: 320px;
    top: 0px;
    bottom: 0px;
    float: left;
    position: fixed;
    min-height: 600px;
    border: 0px solid;
    /*overflow: scroll;*/
}

.topbar {
    height: 120px;
    margin-left: 320px;
    background-color: #ddd;
    position: fixed;
    width: 100%;
}

.topbar h1 {
    margin-left: 50px;
}

.logo {
    height: 120px;
    width: 320px;
}

.menubutton {
    display: inline-block;
    color: #eee;
    font-size: 20pt;
    font-weight: bold;
    font-style: normal;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #333;
    cursor: pointer;
}

.menuitem:hover {
    background-color: #f00;
}

.menuitem:active {
}

.menudiv:hover {
    background-color: #31B404
}

.workinghours caption {
    font-size: 16pt;
    font-weight: bold;
    caption-side: top;
    color: #000000;
    font-variant: small-caps;
    text-align: center;
    width: 100%;
}

.content {
    text-align: center;
    border: 1px solid green;
    margin-left: 330px;
    margin-top: 190px;
    width: auto;
    position: absolute;
}

.content table {
    width: 100%;
}

.content tr {
    height: 250px;
}

.content td {
    width: 33%;
}

.content img {
    width: 150px;
    height: 100px;
}

.content h1 {
    height: 10%;
    font-size: 14pt;
    margin: 0 0 0 0;
    display: inline-block;
}

.content p {
    height: 20%;
    font-size: 11pt;
    margin: 0 0 0 0;
    display: inline-block;
}

.specialoffer {
    width: 600px;
    height: 400px;
    margin-top: 0px;
}

.imgstyle {
    vertical-align: top;
    border: 4px solid #aaa;
    width: 225px;
    height: 225px;
}

.opendays {
    margin-top: 5px;
}

.specialoffer p {
    width: 700px;
}

.specialoffer hr {
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    border: #31B404;
    color: #31B404;
    background-color: #31B404;
}